<div id="editPassword" class="bin-page">
	<style>
    #editPassword .bin-page-content
    {
        background-color: #efeff4;
    }

    #editPassword .menu
    {
        display: flex;
        -webkit-display: flex;
    }

    #editPassword input
    {
        font-size: inherit;
        display: inline-block;
        height: 100%;
        background-color: transparent;
        border: none;
        padding: 0;

        flex-grow: 1;
        margin-left: 1em;
    }
	</style>
	<div class="bin-page-navi-bar" naviTitle="text:修改密码"></div>
	<div class="bin-page-content">
        <ul class="menu-box">
            <li class="menu">
                原始密码
                <input placeholder="输入原始密码" type="password" v-model="oldPassword">
            </li>
            <li class="menu">
                重置密码
                <input placeholder="输入新的密码" type="password" v-model="newPassword">
            </li>
            <li class="menu">
                确认密码
                <input placeholder="确认新的密码" type="password" v-model="conPassword">
            </li>
        </ul>

        <ul class="menu-box" style="margin-top:10px;">
            <li class="menu" style="display:block;text-align:center" @click="submit">
                提 交
            </li>
	</div>
</div>